---
---

@import"{{ site.theme }}";

.page-header{
color:#ffff;
background-color:#A067AB;
background-image:linear-gradient(120deg,#5073B8,#A067AB);
}


.site-title::before {
content: url("/images/logo.jpg");
display: inline-block;
position: relative;
width: 35px;
top: 5px;

}
